<div class="col-md-12">
  <ni-table
    #dt
    [value]="grid.value"
    [paginator]="grid.paginator"
    [pageLinks]="grid.pageLinks"
    [styleClass]="grid.styleClass"
    [rows]="grid.rows"
    [globalFilterFields]="grid.globalFilterFields"
    [columns]="grid.columns"
    [sortMode]="grid.sortMode"
    [rowsPerPageOptions]="grid.rowsPerPageOptions"
    [totalRecords]="grid.totalRecords"
    [showCurrentPageReport]="true"
    [lazy]="grid.lazy ? true : null"
    (onLazyLoad)="grid.lazy ? onLazyFunction($event) : null"
    [(first)]="grid.first"
    currentPageReportTemplate="Record: {first} to {last} of {totalRecords}"
    (onPage)="pageFunction($event)"
    (onFilter)="filterFunction($event)"
    [multiSortMeta]="grid.multipleSortingMetaData.length > 0 ? grid.multipleSortingMetaData : null"
    [dataKey]="grid.dataKey ? grid.dataKey : null"
  >
    <ng-template *ngIf="grid.isGlobalSearch" pTemplate="caption">
      <h1 class="table-title">{{grid.title}}</h1>
      <div class="table-header">
        <span class="p-input-icon-left">
          <i><img src="../../../../assets/images/icons/search.svg" alt="csv"/></i>
          <input pInputText type="text" (input)="globalSearch(dt, $event)" placeholder="{{fieldTitle['search']}}"/>
          <!-- <input pInputText type="text" (input)="globalSearchCustom($any($event.target).value)" placeholder="Search"/> -->
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <ng-container
        *ngIf="!grid.isDynamicHeader"
        [ngTemplateOutlet]="templatesByKey.header"
        [ngTemplateOutletContext]="columns">
      </ng-container>

      <ng-container *ngIf="grid.isDynamicHeader">
        <tr>
          <th *ngFor="let col of columns" [style]="col.style" [ngClass]="col.isRequired ? 'ni-sup' : ''">
            <div class="p-d-flex p-jc-between p-ai-center" [ngClass]="col.styleClass ? col.styleClass : ''">
              {{ col.header }}
              <ni-columnFilter *ngIf="col.isSearchFilter" type="text" [field]="col.field" display="menu" [hideOnClear]="true"></ni-columnFilter>

              <ni-columnFilter *ngIf="col.isDDFilter" [field]="col.field" matchMode="equals" display="menu" [hideOnClear]="true" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown appendTo="body" [ngModel]="value" name="{{col.field}}" [options]="col.dataList" [optionLabel]="col.labelField" [filter]="true"
                    [optionValue]="col.labelField" (onChange)="filter($event.value)" [showClear]="true" placeholder="Select Any">
                        <ng-template let-option pTemplate="item">
                            <span>{{option[col.labelField]}}</span>
                        </ng-template>
                    </p-dropdown>
                </ng-template>
              </ni-columnFilter>

              <ni-columnFilter *ngIf="col.isDateFilter" type="date" [field]="col.field" display="menu" [hideOnClear]="true" [showOperator]="false"></ni-columnFilter>

              <ni-columnFilter *ngIf="col.isNumberFilter" type="numeric" [field]="col.field" display="menu" [hideOnClear]="true" [showOperator]="false"></ni-columnFilter>
              
              <ni-columnFilter *ngIf="col.isStatusFilter" type="boolean" [field]="col.field" display="menu" [hideOnClear]="true" [showOperator]="false"></ni-columnFilter>

              <ni-columnFilter *ngIf="col.isMultiselectFilter" [field]="col.field" matchMode="in" display="menu" [hideOnClear]="true" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-multiSelect [ngModel]="value" name="{{col.field}}" [options]="col.dataList" placeholder="Select Any" (onChange)="filter($event.value)" [optionValue]="col.labelField" [optionLabel]="col.labelField">
                        <ng-template let-option pTemplate="item">
                          <span>{{option[col.labelField]}}</span>
                        </ng-template>
                    </p-multiSelect>
                </ng-template>
              </ni-columnFilter>
            </div>
          </th>
        </tr>
      </ng-container>
    </ng-template>

    <!-- [ngClass]="skeletonVariable ? 'skeleton' : ''" -->
    <!-- <div [ngClass]="skeletonVariable ? 'skeleton' : null"></div> -->
    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex" let-expanded="expanded">
      <ng-container
        [ngTemplateOutlet]="templatesByKey.body"
        [ngTemplateOutletContext]="generateContextNew(data,rowIndex, expanded)"
      >
      </ng-container>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-item let-rowIndex="rowIndex">
      <ng-container
        [ngTemplateOutlet]="templatesByKey.rowexpansion"
        [ngTemplateOutletContext]="generateContext(item, rowIndex)"
      >
      </ng-container>
    </ng-template>

    <ng-template pTemplate="footer">
      <ng-container
        [ngTemplateOutlet]="templatesByKey.footer"
      >
     
      </ng-container>
      <div class="float-right">
      </div>
    </ng-template>

    <ng-template pTemplate="summary" *ngIf="templatesByKey.summary">
      <ng-container
        [ngTemplateOutlet]="templatesByKey.summary"
      >
      </ng-container>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr class="no-data">
        <td>{{fieldTitle['norecordsfound']}}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft" let-state>
      <div class="p-d-flex">
        <p-button
          *ngIf="grid.exportOption.exportInXL"
          label="{{fieldTitle['csv']}}"
          type="button"
          styleClass="p-button-success"
          (click)="exportExcelReport()"
        ><img src="../../../../assets/images/icons/csv.png" alt="icon"/></p-button>

        <p-button
          *ngIf="grid.exportOption.exportInPDF"
          label="{{fieldTitle['pdf']}}"
          type="button"
          styleClass="p-button-danger"
          (click)="exportPdf(dt.el.nativeElement)"
        ><img src="../../../../assets/images/icons/pdf.png" alt="icon"/></p-button>
        <p-button
          *ngIf="grid.exportOption.exportInSelectedXL"
          label="Selected CSV"
          type="button"
          styleClass="p-button-success"
          (click)="dt.exportCSV({ selectionOnly: true })"
        ><img src="../../../../assets/images/icons/csv.png" alt="icon"/></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <button pButton *ngIf="grid.isClear" label="{{fieldTitle['clear']}}" class="p-button-danger" (click)="clear(dt)"><img src="../../../../assets/images/icons/filter-out.png" alt="icon"/></button>
      <button type="button" (click)="grid.refreshEvent !== null ? refreshEvent() : null" class="btn btn-warning"><img src="../../../../assets/images/icons/repeat.png" alt="icon"/> {{fieldTitle['refresh']}}</button>
    </ng-template>

    <ng-template pTemplate="isClear">
      <button pButton  *ngIf="grid.isClear && !grid.paginator" label="{{fieldTitle['clear']}}"  class="p-button-danger" (click)="clear(dt)"><img src="../../../../assets/images/icons/filter-out.png" alt="icon"/></button>
    </ng-template>

  </ni-table>
</div>
