<form #singleVoucherBankForm="ngForm" [addValidators]="singleBankValidationMsgObj"
  validationMessage="voucherValidationModel">
  <div class="card-box p-3 pb-1 mb-3">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label class="ni-sup">{{fieldTitle['company']}}</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="companyName" placeholder="Type Company"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.company" class="form-control" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="modelSvc.isBranchModuleActive">
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label class="ni-sup">{{fieldTitle['unit/branch']}}</label>
            </div>
            <div class="col-md-8">
              <p-dropdown appendTo="body" [filter]="true" [showClear]="true" name="orgID"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.orgID" optionLabel="name" [options]="modelSvc.orgList"
                optionValue="id" placeholder="{{fieldTitle['selectbusinessunit']}}" inputValidator [group]="true"
                [ngStyle]="isInValidBranch ? {'border': '1px solid red', 'width': '100%', 'border-radius':'7px'} : {'width': '100%' }"
                (onChange)="onSelectOrg(modelSvc.creditReceiptVoucherModel)"
                [disabled]="modelSvc.creditReceiptVoucherModel.id>0">
                <ng-template let-group pTemplate="group">
                  <div class="flex align-items-center">
                    <span>{{ group.label }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="modelSvc.isProjectModuleActive">
        <div class="form-group mb-0">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label>{{fieldTitle['project']}}</label>
            </div>
            <div class="col-md-8">
              <p-dropdown appendTo="body" [filter]="true" [showClear]="true" [options]="modelSvc.projectList"
                name="projectID" [(ngModel)]="modelSvc.creditReceiptVoucherModel.projectID"
                (onChange)="onSelectProject(modelSvc.creditReceiptVoucherModel)" placeholder="Project"
                optionLabel="name" optionValue="id" [style]="{ width: '100%' }"
                [disabled]="modelSvc.creditReceiptVoucherModel.id>0">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label class="ni-sup">{{fieldTitle['vouchernumber']}}</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="voucherNo" placeholder="Type Voucher Number"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.voucherNo" class="form-control" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label class="ni-sup">{{fieldTitle['date']}}</label>
            </div>
            <div class="col-md-8">
              <p-calendar appendTo="body" dateFormat="dd-M-y" [showTime]="false" hourFormat="12" [showIcon]="true"
                name="voucherDate" [(ngModel)]="modelSvc.creditReceiptVoucherModel.voucherDate"
                [style]="{ width: '100%' }" inputValidator>
              </p-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card-box p-3 pb-1">
        <div class="row g-1">
          <div class="col-md-6">
            <div class="form-group">
              <label class="ni-sup">{{fieldTitle['fromaccountname']}}</label>
              <p-dropdown appendTo="body" [filter]="true" [showClear]="true"
                [options]="modelSvc.creditReceiptVoucherModel.toCoaStructureList" name="toCOAStructID"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.toCOAStructID"
                (onChange)="onSelectToAccount(modelSvc.creditReceiptVoucherModel)"
                placeholder="{{fieldTitle['fromaccountname']}}" optionLabel="ledger" optionValue="id" inputValidator
                [style]="{ width:'100%' }">
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{fieldTitle['balance']}}</label>
              <input type="text" name="toAccountBalance" placeholder="Balance"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.toAccountBalance" class="form-control" disabled />
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{fieldTitle['subledger']}}</label>
              <p-dropdown appendTo="body" [filter]="true" [showClear]="true"
                [options]="modelSvc.creditReceiptVoucherModel.toSubLedgerDetailList" name="toSubLedgerDetailID"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.toSubLedgerDetailID"
                (onChange)="onSelectToAccountSubLedger(modelSvc.creditReceiptVoucherModel)" placeholder="Sub Ledger"
                optionLabel="name" optionValue="id"
                [style]="{ width: '100%' , border:!modelSvc.creditReceiptVoucherModel.toSubLedgerDetailID && modelSvc.creditReceiptVoucherModel.toCOAStructID && modelSvc.creditReceiptVoucherModel.toSubLedgerDetailList.length?'1px solid red':'' }">
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{fieldTitle['balance']}}</label>
              <input type="text" name="toSubledgerBalance" placeholder="Balance"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.toSubledgerBalance" class="form-control" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card-box p-3 pb-1">
        <div class="row g-1">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{fieldTitle['transactionmode']}}</label>
              <p-dropdown appendTo="body" [filter]="true" [showClear]="true" [options]="modelSvc.transactionModeList"
                name="tranModeCd" [(ngModel)]="modelSvc.creditReceiptVoucherModel.tranModeCd"
                (onChange)="onSelectTransactionMode(modelSvc.creditReceiptVoucherModel)"
                placeholder="{{fieldTitle['transactionmode']}}" optionLabel="value" optionValue="code" inputValidator
                [style]="{ width: '100%' }">
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>&nbsp;</label>
              <input type="text" name="chequeNo" placeholder="chequeNo"
                [disabled]="modelSvc.creditReceiptVoucherModel.tranModeCd!=transactionModeCheque"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.chequeNo" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-md-6">
            <div class="form-group">
              <label>{{fieldTitle['chequedate']}}</label>
              <p-calendar appendTo="body" dateFormat="dd-M-y" [showTime]="false" hourFormat="12" [showIcon]="true"
                name="chequeDate" [disabled]="modelSvc.creditReceiptVoucherModel.tranModeCd!=transactionModeCheque"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.chequeDate" [style]="{ width: '100%' }"></p-calendar>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="ni-sup">{{fieldTitle['amount']}}</label>
              <input niSelect type="text" name="creditVal" class="form-control"
                (keyup)="onCreditFieldChange(modelSvc.creditReceiptVoucherModel)" [niDecimal]="modelSvc.decimalPlace"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.creditVal" inputValidator />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card-box p-3 pb-1">
        <div class="row g-1">
          <div class="col-md-6">
            <div class="form-group">
              <label class="ni-sup">{{fieldTitle['toaccountname']}}</label>
              <p-dropdown appendTo="body" [filter]="true" [showClear]="true"
                [options]="modelSvc.creditReceiptVoucherModel.fromCoaStructureList" name="fromCOAStructID"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.fromCOAStructID"
                (onChange)="onSelectFromAccount(modelSvc.creditReceiptVoucherModel)"
                placeholder="{{fieldTitle['toaccountname']}}" optionLabel="ledger" optionValue="id" inputValidator
                [style]="{ width: '100%' }">
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{fieldTitle['balance']}}</label>
              <input type="text" name="fromCoaStructBalance" placeholder="Balance"
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.fromCoaStructBalance" class="form-control" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card-box p-3 pb-1">
        <div class="form-group">
          <label>{{fieldTitle['description']}}</label>
          <textarea class="form-control" name="description" inputValidator
            [(ngModel)]="modelSvc.creditReceiptVoucherModel.description"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card-box p-3 pb-1">
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label>{{fieldTitle['invoice/billrefno.']}}</label>
            </div>
            <div class="col-md-8">
              <input type="text" name="invoiceBillRefNo" placeholder="Type Invoice/Bill Ref No."
                [(ngModel)]="modelSvc.creditReceiptVoucherModel.invoiceBillRefNo" class="form-control" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row align-items-center">
            <div class="col-md-4">
              <label>{{fieldTitle['referencedocument']}}</label>
            </div>
            <div class="col-md-8">
              <div class="d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-sm btn-warning ms-0" niDbclickPrevent
                  (click)="fileUploadSingleEntryModal()">
                  <img src="../../../assets/images/icons/upload.svg" alt="icon" />
                  {{fieldTitle['upload']}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-box p-3 pb-1">
    <div class="form-group">
      <div class="form-row d-flex justify-content-end align-items-center">
        <div class="form-check my-2" [class.disabled]="true" *ngIf="modelSvc.isSendSMSautomatically">
          <input [(ngModel)]="modelSvc.sendSMS" id="isSendSMSautomatically" name="isSendSMSautomatically"
            class="form-check-input" type="checkbox" />
          <label class="form-check-label" for="isSendSMSautomatically">{{fieldTitle['sendsms']}}</label>
        </div>
        <div class="form-check my-2" *ngIf="!modelSvc.isSendSMSautomatically">
          <input [(ngModel)]="modelSvc.sendSMS" id="isSendSMSautomatically" name="isSendSMSautomatically"
            class="form-check-input" type="checkbox" />
          <label class="form-check-label" for="isSendSMSautomatically">{{fieldTitle['sendsms']}}</label>
        </div>
        <div class="form-check my-2"
          *ngIf="modelSvc.isEdit?modelSvc.creditReceiptVoucherModel.createdByID==loginUserID:true">
          <input class="form-check-input" id="draft" [(ngModel)]="modelSvc.creditReceiptVoucherModel.isDraft"
            name="draft" type="checkbox" />
          <label class="form-check-label" for="draft">{{fieldTitle['draft']}}</label>
        </div>
        <button pRipple pButton class="btn p-button p-button-success" type="button" icon="pi pi-download"
          [disabled]="!isSubmitted" (click)="printVoucher(modelSvc.creditReceiptVoucherModel.id)"></button>
        <button type="button" class="btn btn-sm btn-primary"
          [disabled]="this.modelSvc.isSingleBankEditMode?true:!isSubmitted && !modelSvc.isEdit" (click)="addNew()">
          <img src="../../../assets/images/icons/plus-circle.svg" alt="icon" />{{fieldTitle['addanother']}}
        </button>
        <button type="button" class="btn btn-sm btn-warning" (click)="onFormResetFormSingle()">
          <img src="../../../assets/images/icons/repeat.svg" alt="icon" />{{fieldTitle['reset']}}
        </button>
        <button type="button" class="btn btn-sm btn-success" [disabled]="!singleVoucherBankForm.dirty"
          (click)="singleSaveBank(singleVoucherBankForm)">
          <img src="../../../assets/images/icons/save.svg" alt="icon" />
          {{fieldTitle['save']}}
        </button>
      </div>
    </div>
  </div>
</form>