<div class="nextnav">
  <div class="nextnav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <!-- <i class="flaticon-381-networking"></i> -->
          <i class="bi bi-speedometer"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-television"></i>
          <span class="nav-text">Sale</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="#">Sales/New Sale</a></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Daystart-DayEnd</a></li>
          <li><a href="#">Refunds, exchanges and voids</a></li>
          <li><a href="#">Credit A/C</a></li>
          <li><a href="#">Gift cards</a></li>
        </ul>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-controls-3"></i>
          <span class="nav-text">Reporting</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="#">Sales/New Sale</a></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Daystart-DayEnd</a></li>
          <li><a href="#">Refunds, exchanges and voids</a></li>
          <li><a href="#">Credit A/C</a></li>
          <li><a href="#">Gift cards</a></li>
        </ul>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-internet"></i>
          <span class="nav-text">Product</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="#">Sales/New Sale</a></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Daystart-DayEnd</a></li>
          <li><a href="#">Refunds, exchanges and voids</a></li>
          <li><a href="#">Credit A/C</a></li>
          <li><a href="#">Gift cards</a></li>
        </ul>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-heart"></i>
          <span class="nav-text">Customers</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="#">Sales/New Sale</a></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Daystart-DayEnd</a></li>
          <li><a href="#">Refunds, exchanges and voids</a></li>
          <li><a href="#">Credit A/C</a></li>
          <li><a href="#">Gift cards</a></li>
        </ul>
      </li>

      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-heart"></i>
          <span class="nav-text">Setup</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="#">Sales/New Sale</a></li>
          <li><a href="#">Payment</a></li>
          <li><a href="#">Daystart-DayEnd</a></li>
          <li><a href="#">Refunds, exchanges and voids</a></li>
          <li><a href="#">Credit A/C</a></li>
          <li><a href="#">Gift cards</a></li>
        </ul>
      </li>
      <li>
        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
          <i class="flaticon-381-heart"></i>
          <span class="nav-text">Developer</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="layout.html">Layout</a></li>
          <li><a href="component.html">Component</a></li>
          <li><a href="form.html">Form</a></li>
          <li><a href="table.html">Table</a></li>
        </ul>
      </li>
    </ul>
    <div class="copyright">
      <p><strong>Next IT Limited</strong> © 2025 All Rights Reserved</p>
    </div>
  </div>
</div>
