<div class="row">
    <div class="col-md-12">
      <div class="card-box p-3">
        <app-ni-table [gridOption]="gridOption" [valueList]="modelSvc.chequeStatusNotifyList">
            <ng-template pTemplate="body" let-entity let-rowIndex="rowIndex">
              <tr>
                <td>{{ entity.name }}</td>
                <td>
                  <input type="number" name="{{'value' + rowIndex}}" class="form-control" 
                  [(ngModel)]="entity.value" (blur)="changeData(entity)"/>
                </td>
                <td> 
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    {{ entity.isActive | niBoolean }}
                    <div class="toggleWrapper">
                      <input id="{{'typeSwitch' + rowIndex}}" name="{{'typeSwitch' + rowIndex}}"
                        [(ngModel)]="entity.isActive" type="checkbox" (ngModelChange)="changeData(entity)" />
                      <label class="toggle" for="{{'typeSwitch' + rowIndex}}">
                        <span class="toggle__handler"></span>
                      </label>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </app-ni-table>
      </div>
    </div>
  </div>