<h5>{{msg}}</h5>
<div class="d-flex justify-content-center">
  <div class="place-box track-copy order-btns text-center mb-30">
    <button type="button" icon="pi pi-check" (click)="close(true)" autofocus label="Yes" class="btn btn-sm btn-success mr-d-10"><img src="../../../../assets/images/icons/check-circle.svg" alt="icon"/> Yes</button>
    <button type="button" icon="pi pi-times" (click)="close(false)"  label="No" class="btn btn-sm btn-danger mr-d-10"><img src="../../../../assets/images/icons/x-circle.svg" alt="icon"/> No</button>
  </div>
</div>








