<div class="card-section">
  <div class="row justify-content-center"> 
    <div class="col-md-12">
      <div class="card-box">
        <form #controlLedgerForm="ngForm" [addValidators]="validationMsgObj"
        validationMessage="groupLedgerModelValidation">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    <label class="ni-sup">{{fieldTitle['controlledger']}}</label>
                  </div>
                  <div class="col-md-8">
                    <p-autoComplete name="accountName" [(ngModel)]="modelSvc.coa.accountName"
                    [datasource]="accountNatureList" field="accountName" [style]="{ width: '100%' }"
                    placeholder="{{fieldTitle['entercontrolledger']}}" inputValidator [maxlength]="75"></p-autoComplete>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    <label class="ni-sup">{{fieldTitle['sub-groupledger']}}</label>
                  </div>
                  <div class="col-md-8">
                    <p-dropdown appendTo="body" [options]="controlLedgerList" name="parentID" [(ngModel)]="modelSvc.coa.parentID"
                      placeholder="{{fieldTitle['selectsubgroupledger']}}" (onChange)="onSubGroupLedger()"
                      optionLabel="accountName" optionValue="id" inputValidator [style]="{ width: '100%' }" >
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="isCodeActive">
              <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    <label>{{fieldTitle['accountcode']}}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="accountCode" class="form-control"  [disabled]="true"
                    [(ngModel)]="modelSvc.coa.accountCode">
                  </div>
                </div>
              </div>
              </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    <label class="">{{fieldTitle['assettype']}}</label>
                  </div>
                  <div class="col-md-8">
                    <p-dropdown appendTo="body" [options]="assetTypeList" name="assetTypeCode" [(ngModel)]="modelSvc.coa.assetTypeCode"
                      placeholder="{{fieldTitle['selectassettype']}}" [disabled]="true"
                      optionLabel="value.value" optionValue="value.code" [showClear]="true" [style]="{ width: '100%' }" >
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="row align-items-center">
                  <div class="col-md-4">
                    <label class="">{{fieldTitle['noteno']}}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" name="note"  [(ngModel)]="modelSvc.coa.note" placeholder="{{fieldTitle['enternoteno']}}" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check my-1">
                <input class="form-check-input" id="isActive" name="isActive" type="checkbox" [(ngModel)]="modelSvc.coa.isActive"/>
                <label class="form-check-label" for="isActive02">{{fieldTitle['active']}}</label>
              </div>
            </div>
          </div>
          <div class="form-group mt-4 mb-0">
            <div class="form-row d-flex justify-content-end">
              <button type="button" class="btn btn-sm btn-primary"  (click)="onSubmit(controlLedgerForm,false,false)">
                <img src="../../../assets/images/icons/plus-circle.svg" alt="icon"> {{fieldTitle['addledger']}}
              </button>
              <button type="button" class="btn btn-sm btn-warning" (click)="reset()">
                <img src="../../../assets/images/icons/repeat.png" alt="icon"> {{fieldTitle['reset']}}
              </button>
              <button type="button" class="btn btn-sm btn-success"   *ngIf="isEdit"  (click)="addAnother()">
                <img src="../../../assets/images/icons/plus-circle.svg" alt="icon"> {{fieldTitle['saveaddanother']}}
              </button>
              <button type="button" class="btn btn-sm btn-success" *ngIf="!isEdit" (click)="onSubmit(controlLedgerForm,true,false)">
                <img src="../../../assets/images/icons/plus-circle.svg" alt="icon"> {{fieldTitle['saveaddanother']}}
              </button>
              <button type="button" class="btn btn-sm btn-success" (click)="onSubmit(controlLedgerForm,false, true)">
                <img src="../../../assets/images/icons/save.svg" alt="icon"> {{isEdit ? fieldTitle['update'] : fieldTitle['save']}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>